[2018-10-04 07:22] Rasilgon opened #1 "warning in TRAVIS: no DISPLAY variable so Tk is not available"
Original message:

[2018-10-09 07:58] florianhartig opened #2 "Package size"
Travis warning

[code]

@Rasilgon - for what do we need so much data in the package?

[2018-10-09 08:00] florianhartig opened #3 "Non-standard files/directories found at top level"
[code]

@Rasilgon - I think the basic issue, also related to https://github.com/COST-FP1304-PROFOUND/ProfoundData/issues/2, is that data-raw should be added to the buildignore, right? See
https://stackoverflow.com/questions/41855970/non-standard-file-data-raw-note-on-building-checking-a-package-in-r

[2018-10-09 08:05] florianhartig opened #4 "possibly unsafe calls"
[code]

@Rasilgon, what's the idea here / why was this necessary? The help of assignInNamespace flags this as hacky and advises:

Is there any other way to code whatever we're trying to do here?

[2018-10-09 08:12] florianhartig commented on #1
I think we need to start a X11 buffer, see

- https://docs.travis-ci.com/user/gui-and-headless-browsers/#using-xvfb-to-run-tests-that-require-a-gui
- https://github.com/travis-ci/travis-ci/issues/6987

which I have just tried in https://github.com/COST-FP1304-PROFOUND/ProfoundData/commit/e2aa177fcd451ae6e99a5e399fe8bed0cdd28917

but I wonder why - apparently, somewhere in the help / vignette / tes

[2018-10-09 08:25] florianhartig opened #5 "Travis builds are really long"
I see our last builds are taking ages, e.g. 1 hr 27 min 41 sec - what are we doing in the builds that is taking so much time? Shouldn't this just be a few plots etc?

[2018-10-09 08:27] florianhartig opened #6 "Question about contributors"
Hi Ramiro / Christopher,

I saw you listed

            person("Klara", "Dolos", email = "dolos@kit edu", role = c("ctb")),
            person("Friedrich", "Bohn", email = "friedrich.bohn@ufz.de", role = c("ctb")),

of course they are on the paper, but did they actually contribute code to the package?

Also, what is

            person("Data", "Contributors",email = "contributor@data.com", role =

[2018-10-09 09:03] christopherreyer commented on #6
Hi Florian,
I do not know about Klara (she is not on my author list for the r-package) but as far as I remember, Friedrich provided the code for the conversion of ascii to netcdf. but Ramiro should know who really contributed.

[2018-10-09 10:47] florianhartig commented on #1
OK, with the changes I made to the .yml, this builds now.

I'm leaving this open to decide if we actually need these X11 calls / graphics calls or whatever caused the issue in the first place.

[2018-10-11 06:28] Rasilgon commented on #1
Ok, great that it works. Actually I tried that in https://github.com/COST-FP1304-PROFOUND/ProfoundData/commit/fd71eb04814e24ad2f37a8b1d80a70859e816dd4 and it did not work. I think the the line `cd ProfoundData` was placed some where else in my commit.
Anyway, this is now solved. Thanks!

[2018-10-11 06:35] Rasilgon commented on #5
I think that it might take long because I included calls to install the nectcdf libraries (netcdf and udunits), besides tcl and tk. Our function writeNetCDF depends on RNetCDF which requires the netcdf libraries.

The vignettes are already build (static html) and the tests are not run in travis, and thus they should not take time, right?

[2018-10-11 06:38] Rasilgon commented on #6
Hi, this what in issue to be solved. Originally we were all contributos and kept "data", "contributors" to remind us to add any other contirbutor that was not part of the initial team.
I think now we can remove both "Data" and "Klara". She did contribute to prepare the DB but not the package in the end.

[2018-10-11 07:16] KDolos commented on #6
I am here :-)! I contributed to devl. of the data base structure and added e.g. epsg codes, vegetation type, checked elevation etc. I did not write functions within the package.

[2018-10-11 07:48] florianhartig commented on #5
No, vignettes and help files will be newly built during the checks - does it take long to build the vignette?

Not sure why installing the nectcdf would take hours?

[2018-10-11 08:53] christopherreyer commented on #6
hi klara, good to hear from you!
yes, just to be clear and avoid misunderstandings:
you should be a co-author of the data paper (and of the database which get its own doi) which we will hopefully submit soon. but not for the R-Package. I hope this is fine with you!

[2018-10-11 08:57] florianhartig commented on #6
We could list contributors to the db either on the to page of this [repository](https://github.com/COST-FP1304-PROFOUND/ProfoundData), or on the [subpage of the db](https://github.com/COST-FP1304-PROFOUND/ProfoundData/tree/master/PROFOUND%20database)

[2018-10-11 09:01] christopherreyer commented on #6
yes, but there will also be a proper doi landing page where the database and the links to the paper etc. are and also the link tp the repository. so we can simply paste that link somewehre in github as well.

[2018-10-11 10:34] florianhartig opened #7 "Capitalization / naming issues"
@Rasilgon - there are two files that are exist double, i.e.

* https://github.com/COST-FP1304-PROFOUND/ProfoundData/blob/master/PROFOUND%20database/Processing/sites.txt
* https://github.com/COST-FP1304-PROFOUND/ProfoundData/blob/master/PROFOUND%20database/createDB/SITEDESCRIPTION_to_DB.R

but with different capitalization - in my Unix system, this creates major problems, because those are recogniz

[2018-10-11 10:37] florianhartig opened #8 "Binaries in the repo"
There are html files committed to the repo (in particular the vignette), which is the reason why the repo size has blown up again - as soon as https://github.com/COST-FP1304-PROFOUND/ProfoundData/issues/7 is solved, I'll do a cleanup, but the repo file size is quite large again, I wonder if we should re-start the repo again?

There are also some weird data files, e.g. https://github.com/COST-FP130

[2018-10-11 10:41] florianhartig commented on #6
So, what about Friedrich?

In general, I think we should stick to the standards for R packages http://epub.wu.ac.at/3269/1/Report114.pdf

Which would mean that Ramiro, Christopher and I are author, Ramiro is creator = maintainer if he wants to, and Friedrich would be contributor

[2018-10-11 10:44] christopherreyer commented on #6
I think friedrich wrote some of the functions for the netcdf-conversion. does that qualify him as author or contributor? I think either way is fine.
bests
christopher

[2018-10-11 10:54] florianhartig commented on #6
If we used a small part of code from him, ctb is the usual acknowledgement

[2018-10-11 11:01] christopherreyer commented on #6
ok, @Rasilgon can you confirm that he mostly send oyu some code for the conversion and that was it?

[2018-10-11 12:17] Rasilgon commented on #4
I found an alternative option which doesn't through notes/warnings/errors using options as described in https://cran.r-project.org/web/packages/settings/vignettes/settings.html

[2018-10-11 12:19] florianhartig commented on #4
but could we do this without adding a new dependency? I think you want to use the settings package, right?

[2018-10-11 12:21] Rasilgon commented on #6
Friedrich is the creator of the file writeNetCDF.R file. He wrote the functions and the documentation. I only did some small editing of the help file.

[2018-10-11 12:28] Rasilgon commented on #4
I tried here and it works, I run local checks. I have already committed to see if TRAVIS runs clean.

Yes,  I guess we could avoid using the settings package.
What we need is:

-  setDB() creates/configures an object with the DB path and the DB driver (in this case sqlite)
- this object should be accessible to other package functions
- and not accessible to the user

[2018-10-11 12:29] Rasilgon commented on #5
After my last commit. builds only took circa 3 min.

[2018-10-11 12:33] Rasilgon commented on #2
There was originally a very long vignette with

- the database structure
- a summary of the data in the DB
- package usage explanation

Now I distributed this information in 3 vignettes, one for each purpose

- the database structure (PROFOUNDdatabase.html) 0.556 MB
- a summary of the data in the DB (PROFOUNDsites.html) 14.9 MB
- package usage explanation  (ProfoundData.html) 1.3 MB

Perhaps we mo

[2018-10-11 12:37] Rasilgon commented on #8
This is related to #4 . I replaced the code linked to the package data and removed the sysdata.

[2018-10-11 12:45] Rasilgon commented on #3
Neither .gitignore nor .Rbuildignore are in the repo.

In my local files I have the exceptions, e.g..buildignore

`^.*\.Rproj$`
`^\.Rproj\.user$`
`^data-raw$`

I must have forgotten to commit them.

[2018-10-11 13:12] florianhartig commented on #3
they should be - but I wanted to redo the Rstudio project structure anyway (because the project should be in the root), so if you can solve https://github.com/COST-FP1304-PROFOUND/ProfoundData/issues/7 I can do the rest

[2018-10-11 13:13] florianhartig commented on #6
ok, then that's clear, and you are the cre?

[2018-10-11 13:14] florianhartig commented on #2
btw., this is probably also because of the html files in the vignette folder

[2018-10-11 13:27] Rasilgon commented on #2
yes,  exactly. The html files in the vignette folder have the 3 static vignettes, already built (https://cran.r-project.org/web/packages/R.rsp/vignettes/R_packages-Static_PDF_and_HTML_vignettes.pdf) because they depend on the connection to the DB.

[2018-10-11 14:03] florianhartig commented on #7
the other file is still there though

[2018-10-11 14:14] Rasilgon commented on #6
OK, then we (Christpoher, Florian and I) are authors, Friedrich a contributor and I am in the maintainer/creator.

[2018-10-11 14:19] Rasilgon commented on #6
I have update the DESCRIPTION file accordingly.

[2018-10-11 14:39] florianhartig commented on #6
solved with https://github.com/COST-FP1304-PROFOUND/ProfoundData/commit/26d1cfde94cd80bf74078e26ea9eb9b33e7d4462

@Rasilgon - you can automatically close issues with a commit that says something like "Fixes #6"

[2018-10-11 14:39] #6 closed

[2018-10-11 14:40] florianhartig commented on #7
@Rasilgon - could you rename the file? I can't properly work locally with the repo as long as this is unsolved, and I don't want to rename it without you checking if this breaks some other code

[2018-10-11 14:42] florianhartig commented on #5
yes, seems that this is solved, no idea why it was so slow before

[2018-10-11 14:42] #5 closed

[2018-10-11 14:43] florianhartig commented on #4
Why shouldn't it be accessible to the user?

[2018-10-11 14:46] florianhartig commented on #2
Ah, OK ... hm ... I wonder if this is a good long-term solution.

If we submit to CRAN, vignettes are build anyway ... normal vignettes would only be built for the test, I wonder if it would not be better to suppress their built in the CRAN tests?

Our Repo will blow up like hell if we commit 15MB with every version of the package

[2018-10-11 16:38] Rasilgon commented on #7
Is the other file also a problem?

[2018-10-11 16:41] Rasilgon commented on #4
It's should be accessible trough a function, so they modify or get the values. If the user access the object itself, there is are chance for errors which we do not handle.

[2018-10-11 21:14] florianhartig commented on #7
The file was still there though - I renamed now to https://github.com/COST-FP1304-PROFOUND/ProfoundData/blob/master/PROFOUND%20database/createDB/SITEDESCRIPTION_to_DB-2.R in https://github.com/COST-FP1304-PROFOUND/ProfoundData/commit/848f32517a17e3b41ab1fb30804a4fc380a728b1

Also for the sites file, a rename would have been sufficient.

[2018-10-11 21:14] florianhartig commented on #7
Leaving this open for the file names to be resolved

[2018-10-11 21:24] florianhartig opened #9 "Licence"
So what about this license file with the additions to GPL-3 https://github.com/COST-FP1304-PROFOUND/ProfoundData/blob/master/ProfoundData/LICENSE

Are we keeping this? I think I would tend to remove this, for simplicity - who's going to create derivatives of this highly specialized R package anyway?

[2018-10-11 21:28] florianhartig commented on #2
Also, I just noted that the vignette folder only contains the html files, where are the Rmd files?

[2018-10-11 21:29] florianhartig commented on #3
This seems to be solved

[2018-10-11 21:29] #3 closed

[2018-10-11 21:32] florianhartig opened #10 "Roxygen"
Ramiro, it seems you're still working with Roxygen 5.x, I have 6.1.0, I think it would be better if you would update as well because they compile slightly differently, which means the rd files will show up as changed

[2018-10-11 21:34] florianhartig opened #11 "Write acknowledgements"
There's a TODO in the package acknowledgements, I'm just putting this here to not foget

[2018-10-11 21:35] florianhartig opened #12 "Function authors"
Ramiro, in ?ProfoundData, it says

Author(s) Except where indicated otherwise, the functions in this package were written by Ramiro Silveyra Gonzalez.

This feels inconsistent to me - it would be logical to have here the package authors, and why not just add your author tag to every function you wrote?

[2018-10-11 21:37] florianhartig commented on #2
Ah, I think I just found them in data-raw - is this the ideal place?

[2018-10-11 21:40] christopherreyer commented on #12
am i actually entitled to be an author if I did not write any line of code or so? I think I did think/discuss quite a bit about the package with Ramiro but I did not do any "real" work. just to be sure... Of course I would like to be an author but I do not want to violate any code of ethics or so from cran.

[2018-10-11 21:43] florianhartig commented on #12
Well, we can discuss this again, but I would say authors are those that have created the package, which I would view not only as writing the code, but also the initial idea, design, feedback etc., similar to a paper. Contributors are those that contributed smaller chunks of code or fixes.

But it is of course true that Ramiro did most of the work, which, however, I think is reflected in him being

[2018-10-11 21:44] christopherreyer commented on #12
ok, thanks. @Rasilgon please let me know if you think my contribution was not substantial enough.

[2018-10-15 19:57] Rasilgon commented on #2
I think that there are two issues here

1. The  static vignettes
2. The size of the vignettes

*1. Static vignettes*
I created static (pre-built) vignettes because the connection to the database is needed to build them.  In the vignettes folder I put the html vignette and the html.asis file, which has the instructions to "build " the static vignette.
The Rmd files should not be compiled because th

[2018-10-15 20:38] christopherreyer commented on #2
just and addition: the vignettes should also be linkned on the doi-lanidng page, so also people who are not usingt he r-package can access them.

[2018-10-15 20:41] Rasilgon commented on #9
The file comes from rLPJGUESS. Orginally we had GPL-3 with modifications in rLPJGUESS and we thought that we could use the same license statement for ProfoundData. However, the issue was still open.

[2018-10-28 17:19] Rasilgon opened #13 "vigenette Database citation"
The vignette has the following statement.

Should this be removed from the vignette? Or should it be updated?

[2018-10-28 17:19] #1 closed

[2018-10-30 09:49] christopherreyer commented on #13
I have written a suggestion how to write the data statement in the checklist document

[2019-06-12 18:30] florianhartig opened #15 "Check if database exist"
All functions should check if db exist, and if not, call setDB  rather than throwing errors. This will direct the user directly to the necessary steps.

[2019-06-28 12:50] florianhartig opened #16 "downloadDatabase file selection does not work under Windows"

[2019-07-04 08:54] Rasilgon commented on #15
Currently the functions check if db exist, by trying to connect to it and return an error message. The code is below.

`  conn <- try(makeConnection(), T)
  if ('try-error' %in% class(conn)){
    stop("Invalid database connection")
  }else{
    RSQLite::dbDisconnect(conn)
  }`

The idea would be to change the error message to something point to setDB, right?
Instead of "Invalid database connection

[2019-07-04 08:59] florianhartig commented on #15
yes, exactly - is this particular check really always called? I thought I received an even more cryptic error message, but not sure

[2019-07-04 09:07] Rasilgon commented on #15
OK, great.  Then I am changing the message.

In getData, plotData and summarizeData is done when calling parseQuery, which has the above code lines. The remaining functions (short-simple functions) have the check included.

I will go through the errors calls. It is not good if they sound cryptic.

[2019-07-04 09:09] florianhartig commented on #15
OK ... if you do this, maybe better to outsorce this call into a helper function? (easier to maintain)

[2019-09-11 08:13] florianhartig commented on #15
Hi Ramiro, this is not done, is it?

[2019-09-11 08:14] florianhartig commented on #13
I will move this to a real citatation

[2019-09-11 08:16] florianhartig commented on #13
Speaking about the vignettes - where are they located?

[2019-09-11 08:17] #12 closed

[2019-09-11 08:18] florianhartig commented on #13
Sorry, found it - data-raw

[2019-09-11 11:24] florianhartig commented on #13
done

[2019-09-11 11:24] #13 closed

[2019-09-11 11:26] #9 closed

[2019-09-11 11:27] #7 closed

[2019-09-11 12:05] #2 closed

[2019-09-11 12:06] #8 closed

[2019-09-11 12:07] #4 closed

[2019-10-02 18:52] Rasilgon commented on #16
Is this solved?

[2019-10-02 18:54] Rasilgon commented on #15
Still have to check it and commit it. Probably done by the end of week(end)

[2019-10-02 21:07] florianhartig commented on #16
I don't think so. Do you have a windows computer to check?

[2019-10-17 17:26] mmahnke commented on #16
Hi guys, I just tested the downloadDatabase function in Windows and everything worked fine. Window opens for directory definition, download and unzipping also work fine if the "setsd(setwd(location))" is changed. Is "setsd" a typo or a function I do not know?

[2019-10-18 07:40] florianhartig opened #18 "Problem in Soro tree counts?"
Reported from Mats: One particularity I found in the DB itself is that in the TREES table for Soro in 2009 there is double the amount of trees than in the year before and every record_id is duplicated. At the moment I can not figure out why - should I open an issue even though that problem is not related to the package itself?

[2019-10-19 16:09] Rasilgon commented on #16
In ubuntu, the downloading  works (not unzipping) and also  throws a message about "setsd".

[2019-10-19 16:29] Rasilgon opened #19 "Update vignettes"
Current vignette does not explain the downloadDatabase function and any other modification made since v 0.2.0

[2019-10-20 10:49] #11 closed

[2019-10-20 10:50] florianhartig opened #20 "TODOs"
There are various TODOs, mostly regarding missing help items. Can someone search in files and close this for the 0.2.1 release?

[2019-10-20 11:05] florianhartig commented on #16
OK, I think there are two potential issues

a) The main problem was the platform-independent query to the user to choose a file directory. This didn't work for Mats under Windows, but it does for Ramiro now. I'm not sure, this just doesn't seem to be particularly stable

b) The second issue is that unzipping the file may create some problems in some operation systems that may not have unzip, or a

[2019-10-20 11:05] #16 closed

[2019-10-20 16:07] florianhartig commented on #19
I have added downloadDatabase - is there anything other to add?

[2019-10-20 16:08] florianhartig commented on #18
Comment Ramiro:

[2019-10-23 12:51] mmahnke commented on #18
Hi guys. I think I found the problem.

The TREE_master table in the DB has no duplicates, TREE and TREE_[site_id] (e.g. site_id=21 which is Soro) views have duplicates. If I understand correctly, these views are used when extracting data via getData(), that is why there are duplicated records.

[1] 0

[1] 20650

[1] 288

The duplicates are introduced in "Create_TREE_Views.R" when PLOTSIZE_master a

[2019-10-23 13:19] florianhartig commented on #18
Sounds convincing to me, Ramiro?

Mats, can you just do this?

[2019-10-23 13:22] florianhartig opened #21 "Travis builts"
There is currently a problem in the Travis builds with the - xvfb library.

[code]

To be honest, I can't remember why we added this in the first place, but I'm just trying the solution recommended in https://stackoverflow.com/questions/55674746/travis-sh-0-cant-open-etc-init-d-xvfb

[2019-10-23 13:45] florianhartig commented on #21
OK, I think https://github.com/COST-FP1304-PROFOUND/ProfoundData/commit/bea230b3a8f2a59594d51372fd192bd1eb8e86c4 did the trick!

[2019-10-23 13:45] #21 closed

[2019-10-23 13:54] mmahnke commented on #18
Yes, I'll do that.

[2019-10-23 21:04] christopherreyer commented on #18
sounds good to me, Mats, once you have a new version of the DB, we then also need to update the doi, please remind me...

[2019-10-24 12:25] mmahnke commented on #18
I cannot quite finish producing the SQL DB. The _Create_DB.R_ throws warnings/errors that I cannot resolve on my own at the moment. @Rasilgon can you help out?

What I have done for now:
1. change _Create_PlotSize_Data.R_ to prevent duplicates: #22
2. add new version number "0.2.1" in DB versioning in _owncloud/PROFOUND_Data/Processed/Version/version.csv_ and _owncloud/PROFOUND_Data/Processed/RDat

[2019-10-25 08:01] matsmahnken commented on #20
Filled the TODO help items to the best of my knowledge in #22 .

There are still some TODOs for checks in _PROFOUND database/createDB/_.

Also there is one TODO in _PROFOUND database/Processing/ProfoundOtherData_check.R_ I don't know how to handle.

[2019-10-25 08:06] florianhartig commented on #20
Are these regarding documentation or code?

[2019-10-25 08:11] matsmahnken commented on #20
The open TODOs specify code that should be included. e.g `TODO if something missing stop it`

[2020-01-07 16:44] Rasilgon commented on #18
Hi @matsmahnken,

are you running the script _Create_DB,R_ at one time? I normally by one by one the code lines, to supervise that each step works.

Warnings are not errors necessarily. Concerning the three issues you measure, I can tell you that

1. It is displayed when sending queries to the DB. It is been a bit cryptic for me also, but does not mean an error. At least, so far it did not mean th

[2020-01-08 13:07] matsmahnken commented on #18
Hi @Rasilgon,

thanks for the notes! For now I have been running the _Create_DB.R_ code line by line. And I get warning 1 (about closing open results)  and warning 2 (sql issues must be issued...) for most of the lines. And point 3 occurs when sourcing _FLUXNET_to_DB.R_.

1. From now on I will ignore warning 1 since it does not mean error, as you noted.
2. Looking into the scripts I am sourcing I

[2020-01-09 18:27] matsmahnken commented on #19
After talking to @Rasilgon we think that at the moment we have nothing to add. We need to run the _data-raw/ProfoundData.Rmd_ to update the vignettes, right?

[2020-01-10 15:34] florianhartig commented on #19
Hi Mats,

yes, if you could do this that would be good, can be closed afterwards

[2020-01-10 15:35] florianhartig commented on #18
Hi guys, is this issue still open?

[2020-01-10 15:37] florianhartig opened #23 "Finalize 0.2.1 release"
I think we should finalize the 0.2.1 release, and maybe also use this as an opportunity to push the package to CRAN.

TODO: close all issues currently associated with https://github.com/COST-FP1304-PROFOUND/ProfoundData/milestone/1

Anything else?

[2020-01-10 16:20] matsmahnken commented on #15
After talking to @Rasilgon we decided to simply change the message text in every related message from "Invalid database connection" to "Invalid database connection. Please use setDB() to connect to a valid DB" (see #24). This is the simplest fix for now.
This means the error call is not outscored. If we want to do this in the future, we need to keep it in mind.

Does this solve the issue for now @

[2020-01-10 16:22] matsmahnken commented on #20
@Rasilgon mentioned that the "TODOs" left in the code can be removed so I discarded all of them (see #24). There should be no "TODOs" left in ProfoundData.

[2020-01-10 16:28] matsmahnken commented on #18
Yes, still open. Although this issue could be split in two. The first problem on the duplicated records is solved I guess, the second problem regarding building the new version of the sqlite DB without duplicated tree records is still open for me - I am currently working on it. I hope I can give some updates next week.

But these open DB building problems do actually not relate to the package itse

[2020-01-10 16:31] matsmahnken commented on #23
I agree. It would be great to also have the new version of the DB ready by then.

@Rasilgon proposed to open a develop-branch after the next release for further work.

[2020-01-10 17:31] florianhartig commented on #23
In my other projects, I see CRAN as the stable branch, and GitHub basically as develop, and thus only create feature branches. We have tested out the standard branch model a few times, but found the parallel dev / stable model to be mostly redundant in the end. So, I would recommend feature branches that are merged back when the features are implemented, and hotfixes directly in the master. But ha

[2020-01-10 17:32] florianhartig commented on #18
Ok, thanks. Then we should just leave it open. In the end, it's more a DB problem than a package problem, maybe we should create different milestones for that.

[2020-01-10 17:35] #20 closed

[2020-01-10 17:39] florianhartig commented on #15
OK, I have merged this for now, but technically, I don't think this is very clean. As it is, we now have various places in the code where we do the same thing, i.e

[code]
My main point is that we should have a check db function, that is called in any function that requires a db. This check function could have this piece of code, but could also do something else, e.g. setDB

[2020-01-13 17:50] matsmahnken commented on #15
I agree that it is not very clean.
There is actually the `makeConnection()` function that does a test for a valid DB connection besides testing if needed packages are loaded. Maybe that could be used. `makeConnection()` is already used in many (if not all) of the connection tests.
@Rasilgon mentioned that there was a reason to use `makeConnection()` but then wrap it with `try()` instead of putting

[2020-01-13 18:03] florianhartig commented on #15
I don't see why we couldn't put the try also in the makeConnection(). In the worst case, we could do a subfunction, but should be good to have the function argument in {}

[2020-01-15 16:49] matsmahnken commented on #15
You are right. I am trying to include this but my main problem is that `dbConnect()` does not produce an error if I give a name/path for a DB that does not exist. This would be a prerequesite for the `makeConnection()` function to work, right?

`dbConnect(RSQLite::SQLite(), "non-existent-file")` for example does not give an error as I would expect. What am I missing here?

[2020-01-15 17:05] matsmahnken commented on #15
In the meantime I found that it works if `dbConnection()` has a default `dbname=NA`. I don't know if this affects some other parts of the code but for me it works well for calling `setDB()` from `makeConnection()` if there is no valid DB connection.
See linked pull request #25

[2020-01-16 22:21] matsmahnken opened #26 "global radiation unit "rad_Jcm2day" to "rad_Jcm2""
Hi guys, @christopherreyer and Stefan Lange from PIK identified that the unit of global radiation we have in the DB is not very consistent with other variable units and can thus be a bit confusing - but is not per se incorrect.

At the moment we have "rad_Jcm2day" and "J cm-2 day-1" in the DB but since the global radiation is given on a daily time resolution the variable name should be reduced to

[2020-01-16 22:22] matsmahnken commented on #19
Yes, I will do that after we have the new DB version ready - so hopefully in the next days.

[2020-01-16 22:30] matsmahnken commented on #18
Finally I successfully produced a good-looking sqlite DB. All my trouble was coming from encoding problems from carrying over the scripts and .RData files to Windows. Running the scripts to produce the DB in a Linux environment solved all issues.
The warnings and FLUXNET_master colname problems disappeared.

[2020-02-25 12:43] matsmahnken commented on #26
#27 has the linked commits in it in order to change the variable name in the DB itself and in the package. For the package the renaming is important for the _summarizeData()_ function.

[2020-03-06 13:24] florianhartig commented on #26
Should be solved with https://github.com/COST-FP1304-PROFOUND/ProfoundData/commit/ba4728ba3f96d4a12fe77f400e7dc0107bc43ce7

[2020-03-06 13:31] #15 closed

[2020-03-13 21:55] florianhartig commented on #23
Hi guys, I have reverted the latest changes that were made for the new (unpublished) DB structure, and am currently preparing to finalize this and push it to CRAN.

@Rasilgon - as I upload it to CRAN, I have changed myself to cre status, there is unfortunately no difference between creator and maintainer, and I think it would be impractical if you maintain (unless you say you have the time)

Howev

[2020-03-13 22:00] florianhartig commented on #19
I will updated the vignettes for the 0.2.1 CRAN release now ... Mats, if you have time, for the 0.2.2 release, could you maybe also have a look at the vignettes wrt readability / completeness?

[2020-03-14 14:02] florianhartig opened #28 "doi in database"
There is an issue for CRAN with a data citation that is in the sql database

[code]

I am currently trying to find out if we can correct the formatting from R, or of this has to be changed in the db.

[2020-03-14 14:06] florianhartig commented on #28
The problem is that this is a doi without https://doi.org/

A will correct this now by hand in the vignette, but would be good to correct this in the db for the 0.2.2 version

`
Based on climate data described here: Warszawski, L., Frieler, K., Huber, V., Piontek, F., Serdeczny, O., Schewe, (2013) The Inter-Sectoral Impact Model Intercomparison Project (ISI-MIP), Proceedings of the National Academ

[2020-03-14 15:59] florianhartig commented on #23
fyi, I have submitted the package to CRAN

[2020-03-14 18:33] florianhartig opened #29 "Stable landing page for database / doi"
We are currently linking to http://doi.org/10.5880/PIK.2019.008 for the database - is this the doi for the database version, or is this the doi for the website?

If this is for the db, what happens if we update the doi, i.e. are the old dois linking to the new version or the old one?

[2020-03-15 09:01] christopherreyer commented on #29
this is the doi for the old database version, the new DOI will be http://doi.org/10.5880/PIK.2020.006

the landing page for the old DOI will link to the new landing page with the new doi.

[2020-03-15 09:02] christopherreyer commented on #23
Thanks @florianhartig for submitting the package and I agree with you ebing the maintainer. thanks a lot!

[2020-03-16 08:55] matsmahnken commented on #28
Will include this in the new sql DB version.

BTW, are we aiming for DB version 0.2.2 and skipping 0.2.1 to keep package and DB version numbering identical? Or are DB and package versions considered independent from each other?

[2020-03-16 09:27] florianhartig commented on #28
Yes, I would keep the version number compatible. Maybe it would even be sensible to label database versions with 0.X, and R package updates with 0.X.X, which would mean that the next update is 0.3?

[2020-03-16 09:33] matsmahnken commented on #28
I agree, to have the versions compatible but not necessarily identical. Following 0.X for the DB and 0.X.X we would assume to have more frequent package updates than DB updates which is sensible I think.

So the next DB version then is 0.3 and the next R package version is 0.3.0, is that right?

[2020-03-29 17:02] florianhartig opened #30 "inst/rmd files obsolte?"
I think this is mainly to @Rasilgon - are the Rmd files in inst/rmd obsolte? Looks to me like a previous version of the vignette.

[2020-03-31 16:06] florianhartig commented on #23
OK, this was a bit messy, but the package is now on CRAN https://cran.r-project.org/web/packages/ProfoundData/index.html

[2020-03-31 16:06] #23 closed

[2020-03-31 16:06] florianhartig commented on #29
OK, this should be fine

[2020-03-31 16:06] #29 closed

[2020-04-20 15:15] matsmahnken commented on #30
Isn't this used in _reportDB()_?

[2020-04-20 15:22] florianhartig commented on #30
ah, maybe ... I forgot we had such a function. Hmm ... maybe. I wonder if it's necessary to have this on file, I guess one could also save it as a string / Rds in the package, but if it's used, let's just keep it there for the moment

[2020-04-20 15:22] florianhartig opened #31 "0.3.0 release (database update)"
btw., what's up with the 0.2.2 release - did you get the data update?

[2020-04-20 15:24] florianhartig commented on #31
Correction - I think we said we would call a database update 0.3.0, right?

[2020-04-20 15:25] christopherreyer commented on #31
yes, we are just preparing the new DB version 0.3. we have to submit the paper today but probably we will get an extension by a week or so.

[2020-04-20 15:26] florianhartig commented on #31
Ah, nice! Yes, no problem, just wanted to know what the status is.

[2020-04-20 15:30] matsmahnken commented on #31
Yes, right. We are preparing the new DB version 0.3. The data update from Soro is available and being included in the DB. I already have a new sqlite version and am now looking at the vignettes to see if the re-compilation worked and all the changes we want are in there to prepare everything for the new DOI.

[2020-04-20 15:32] matsmahnken commented on #30
alright, then we keep it for now.

[2020-04-20 15:43] matsmahnken commented on #26
We need to re-commit the changes for the rad_Jcm2 changes in the package so that it will be fully compatible with the new DB version. How do we best re-commit https://github.com/COST-FP1304-PROFOUND/ProfoundData/commit/ba4728ba3f96d4a12fe77f400e7dc0107bc43ce7?

[2020-04-28 07:25] matsmahnken opened #34 "new Soro data: TREE and STAND"
The new data we got for Soro are reconstructed single tree data which are included in the TREE table and derived stand data which are independently included in the STAND table. The conversion from the reconstructed single tree data to stand data is not straightforward as in the other sites because TREE is not a full inventory of the stand for all the years because of the applied reconstruction met

[2020-04-28 13:35] florianhartig commented on #34
Hi Mats, not sure if it is necessary to describe it in detail in the paper, as long as it is properly documented in the code for the creation of the databased, and possibly also in the database (I think there was a field to do comments, right?)

[2020-04-28 13:40] florianhartig commented on #34
About the summarizeData function: my question would be - if it is not sensible to use the tree data, why provide it at all? Not providing it would automatically mean that it can't be misinterpreted.

If we provide it, I would also allow the user to summarize it. Why not? Do we think there is a clear bias? If I understood you correctly, you don't want the user to use it, because you think the stand

[2020-04-28 15:37] matsmahnken commented on #34
Hi Florian. You are right, this is not an ideal solution. Christopher found a much better solution - provide the underlying original "raw" Soro data with the same DOI like the Profound DB. This way we keep the concept of the DB as we had it for the old data in Soro and keep the TREE and STAND data harmonized.

We wanted to include the other single tree data into the DB but the DB structure and the

[2020-05-04 09:22] matsmahnken commented on #18
This issue is solved in the new DB version 0.3

[2020-05-04 09:24] matsmahnken commented on #26
These changes are re-commited in branch 0.3.0 and will be included in the new release.

[2020-05-04 09:24] #26 closed

[2020-05-04 09:25] matsmahnken commented on #28
The DOI in the new DB version 0.3 is corrected and should correctly point to the reference.

[2020-05-04 09:25] #28 closed

[2020-05-04 09:29] matsmahnken commented on #34
This issue can be ignored since the new Soro data were included in the new DB version in the conventional way NOT following the suggestion in this issue. Soro STAND data are computed from Soro TREE data and _summarizeData()_ can be used without any problems.

[2020-05-04 09:29] #34 closed

[2020-05-04 09:30] #18 closed

[2020-05-04 14:41] matsmahnken commented on #19
The rmd files for the vignettes are checked for typos and new vignette htmls are produced with the new DB version 0.3 including new DOI links. See 3dfa079142654780a9bb74da8cca3754bf0c4f26. New DOI links will only work in from the next days onwards - the new DOI is to be registered in the next days.

[2020-05-04 14:43] matsmahnken commented on #31
The new DB version will become available in the next days with the new DOI.

[2020-05-04 14:51] matsmahnken opened #36 "0.3.0 release (package release)"
I have closed all pending issues and included changes in branch 0.3.0 to prepare the release of ProfoundData v. 0.3.0 to CRAN.

What else do we need to do?
1. Look at Travis CI build errors that come up in some commits (1fdd02f90d0e793d8008f9428ec57f819f87b017 & c5a6107bfca5190de37ccc05a641e5d735a3da95) and in the pending pull request #35
Don't know what exactly this tool does - need some help her

[2020-05-04 17:20] #30 closed

[2020-05-04 17:21] #19 closed

[2020-05-04 17:43] florianhartig commented on #36
OK, I'm working on this - is there anything to update in the vignette?

[2020-05-04 17:43] florianhartig commented on #36
Is the paper already published / has a final DOI? In this case, that should definitely be updated!

[2020-05-04 18:00] florianhartig commented on #36
OK, the branch builds now, it was a problem with a dependency in the travis yml

[2020-05-04 18:01] matsmahnken commented on #36
That sounds good! The paper is not published yet - but we are handing it in latest on Wednesday (06.05.): https://www.earth-syst-sci-data-discuss.net/essd-2019-220/

[2020-05-07 06:35] matsmahnken commented on #31
The new DB version 0.3 is now released with a new DOI: http://doi.org/10.5880/PIK.2020.006

[2020-05-07 06:37] matsmahnken commented on #36
The DB v. 0.3 is now released with a new DOI: http://doi.org/10.5880/PIK.2020.006
Links in the vignettes of branch 0.3.0 pointing to this DOI should be working from now on.

[2020-05-11 06:57] matsmahnken commented on #36
I think we have everything except for the final DOI of the data paper - should we continue the push of release/version 0.3.0 to CRAN?

[2020-05-26 13:08] matsmahnken commented on #36
The new DOI is published and the data paper is accepted for final publication. Now we can continue pushing version 0.3.0 to CRAN.
@florianhartig what else do we need to do before pushing the new version to CRAN?

[2020-05-26 14:31] florianhartig commented on #36
ae, basically we have to ensure that everything tests out

[2020-05-26 14:32] florianhartig commented on #31
OK, so this can be closed, right?

[2020-05-26 14:32] florianhartig commented on #36
I will create a pull request for the 0.3.0 branch and request a review from you!

[2020-05-27 06:33] matsmahnken commented on #31
Yes, this is completely finished and can be closed.

[2020-05-27 06:33] #31 closed

[2021-03-02 13:45] lstrebel opened #38 "Database hosting offline"
Hi,

I was interested in checking out the Profound database, but it seems to me that the database is no longer hosted at the same address. I get the following error message, when trying to follow the instruction from the help page.

sqlfile = downloadDatabase()
trying URL 'http://www.pik-potsdam.de/data/doi/10.5880/PIK.2019.008/ProfoundData.zip'
Error in download.file("http://www.pik-potsdam.de/da

[2021-03-02 13:56] christopherreyer commented on #38
Hi Lukas,
thanks for the note.
yes, we also just discovered some days ago and we are looking into the issue.
@matsmahnken can you maybe also post an update here once the files are online again?
bests
christopher

[2021-03-02 14:05] lstrebel commented on #38
Hi Christopher,

Thanks for the quick reply and hope the issue can be resolved easily.

Best,
Lukas

[2021-03-02 14:08] christopherreyer commented on #38
one more thought:
if you do not hear from in a week or so from now, we can try to send you the files through alternative pathways but let us focus a few days on fixing the issue. probably it is just a server issue or so, since we did not delete the files or anything like that. so just remind us when things get urgent for you.

[2021-03-02 14:42] matsmahnken commented on #38
Hey Lukas and Christopher,

I am on it. Once it is resolved I will post here. If the issue takes more time we will transfer the database in other ways to you Lukas as Christopher suggests.

Best,
Mats

[2021-03-02 14:48] matsmahnken commented on #38
Not sure why, but the database is online again. The problem resolved itself. Lukas, please let us know if it works for you too.

Best,
Mats

[2021-03-03 12:14] lstrebel commented on #38
Hi Mats and Christopher,

Yes seems to work for me as well. Thank you!

[2021-03-03 12:14] #38 closed, assigned to nobody

[2022-03-14 13:14] Rasilgon opened #39 "Stand biomass Bily Kriz"
I have recently downloaded the package and  the database (December 2021).  The pkg version is 0.2.1, and the database, v0.2.0, according to the version table.

When checking stand biomass for several locations, I noticed that the values of biomass of bily_kriz are much lower than other sites. It looks as there might be some problems with the units. For instance, the values of stand biomass would m

[2022-03-16 08:08] matsmahnken commented on #39
Hi @Rasilgon, good to see the DB is in use. The issue with biomass units at bily_kriz has come up earlier already and we addressed it in the most current version of the DB (version 0.3) which can be found here: [https://dataservices.gfz-potsdam.de/pik/showshort.php?id=escidoc:5162892](https://dataservices.gfz-potsdam.de/pik/showshort.php?id=escidoc:5162892)

You can have a look at the changelog th

[2022-03-16 08:14] Rasilgon commented on #39
Great! Thanks, @matsmahnken,  for the quick answer!
I downloaded the DB with pkg function *downloadDatabase*,  and assumed that it will give me the last version.  Good to know that is fixed, and thanks for doing it. Perhaps the pkg function needs to be updated.

[2022-03-16 08:51] matsmahnken commented on #39
Alright, thanks for letting us know. Indeed the _downloadDatabase_ function should download the latest version. Once we close #36, we can publish the pkg version 0.3 and it should be working fine.

I'll close this issue for now.

[2022-03-16 08:51] #39 closed, assigned to nobody

[2022-04-07 13:47] Rasilgon opened #40 "foliage biomass solling_spruce"
Hi!
I'm  using biomass equations with the profound data,  and many times the value differ, but not as much as in this case.  The values of foliage biomass of the site solling spruce look smaller than they should be. They are around 2000 kg/ha, but I think that they should rather be around 20000 kg/ha.
 I'm using the v0.3 of the Profound DB.

[2022-04-07 14:00] Rasilgon opened #41 "dbhArith/heightArith stand data hyytiala"
I've been looking at the hyytiala  stand data, and it feels like the relationship between age and dbhArith/heightArith for Picea abies and hardwood is a bit odd. These two variables differ much from dbhBA/heightBA, which more or less show a growth behaviour similar to the one of pine.
Could dbhArith/heightArith be wrong?